<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jct.mes_new.biz.system.mapper.SystemMgmtMapper">

    <update id="deleteUser">
        update tb_users
        set use_yn = 'N'
        where user_id = '${userId}'
    </update>


    <select id="getMenuMgmtList" >
        SELECT   a.menu_id      AS menuId
                ,a.parent_id    AS parentId
                ,a.menu_name    AS menuName
                ,a.menu_path    AS menuPath
                ,a.icon         AS icon
                ,a.sort_order   AS sortOrder
                ,a.menu_level   AS menuLevel
                ,a.menu_type    AS menuType
                ,a.use_yn       AS useYn
        FROM tb_menu_mst a
        WHERE 1 = 1
        <if test="menuName != null and menuName != ''">
            AND a.menu_name LIKE '%' + #{menuName} + '%'
        </if>
        <if test="menuType != null and menuType != ''">
            AND a.menu_type = #{menuType}
        </if>
        <if test="useYn != null and useYn != ''">
            AND a.use_yn = #{useYn}
        </if>
        ORDER BY a.menu_level ,a.parent_id ,a.sort_order
    </select>

    <select id="getMenuList">
        SELECT    a.menu_id        AS menuId
                 ,a.parent_id      AS parentId
                 ,a.menu_name      AS menuName
                 ,a.menu_path      AS menuPath
                 ,a.icon           AS icon
                 ,a.sort_order     AS sortOrder
                 ,a.menu_level     AS menuLevel
                 ,a.menu_type      AS menuType
                 ,ISNULL(b.read_yn, 'N')  AS readYn
                 ,ISNULL(b.write_yn, 'N') AS writeYn
        FROM     tb_menu_mst a
                 LEFT JOIN tb_menu_auth b
                 ON b.menu_id = a.menu_id
                 AND b.user_id = #{userId}
        WHERE    a.use_yn = 'Y'
        ORDER BY a.menu_level,a.parent_id,a.sort_order
    </select>

    <select id="getMenuDetail">
        SELECT    a.menu_id        AS menuId
                 ,a.parent_id      AS parentId
                 ,a.menu_name      AS menuName
                 ,a.menu_path      AS menuPath
                 ,a.icon           AS icon
                 ,a.sort_order     AS sortOrder
                 ,a.menu_level     AS menuLevel
                 ,a.menu_type      AS menuType
        FROM     tb_menu_mst a
        WHERE    a.menu_id = #{menuId}
    </select>

    <insert id="insertMenuMst"  parameterType="com.jct.mes_new.biz.system.vo.MenuVo" useGeneratedKeys="true"  keyProperty="menuId">
        INSERT INTO tb_menu_mst
        (
             parent_id
            ,menu_name
            ,menu_path
            ,icon
            ,sort_order
            ,menu_level
            ,menu_type
            ,use_yn
            ,reg_id
            ,upd_id
        )
        VALUES
        (
             #{parentId}
            ,#{menuName}
            ,#{menuPath}
            ,#{icon}
            ,#{sortOrder}
            ,#{menuLevel}
            ,#{menuType}
            ,#{useYn}
            ,'SYSTEM'
            ,'SYSTEM'
            )
    </insert>

    <update id="updateMenuMst">
        UPDATE tb_menu_mst
        SET    parent_id  = #{parentId}
              ,menu_name  = #{menuName}
              ,menu_path  = #{menuPath}
              ,icon       = #{icon}
              ,sort_order = #{sortOrder}
              ,menu_level = #{menuLevel}
              ,menu_type  = #{menuType}
              ,use_yn     = #{useYn}
              ,upd_id     = 'SYSTEM'
              ,upd_dt     = GETDATE()
        WHERE menu_id = #{menuId}
    </update>

    <update id="updateMenuUseYn">
        UPDATE tb_menu_mst
        SET    use_yn   = #{useYn}
              ,upd_id   = 'SYSTEM'
              ,upd_dt   = GETDATE()
        WHERE menu_id   = #{menuId}
    </update>

<!--  신규인원 등록시 메뉴 권한 등록  -->
    <insert id="insertMenuAuth">
        INSERT INTO tb_menu_auth
        (user_id,menu_id,read_yn,write_yn,reg_id,reg_dt)
        SELECT    #{userId}
                 ,m.menu_id
                 ,'Y'
                 ,'N'
                 ,'SYSTEM'
                 ,GETDATE()
        FROM tb_menu_mst m
        WHERE m.use_yn = 'Y'
        AND NOT EXISTS (
            SELECT 1
            FROM tb_menu_auth a
            WHERE a.user_id =  #{userId}
              AND a.menu_id = m.menu_id
        )
    </insert>

    <!--  신규메뉴 등록시 사용자 전체 등록  -->
    <insert id="insertMenuAuthAllUser">
        INSERT INTO tb_menu_auth
        (
             user_id
            ,menu_id
            ,read_yn
            ,write_yn
            ,reg_id
            ,reg_dt
        )
        SELECT
             u.user_id
             ,#{menuId}
             ,'N'
             ,'N'
             ,'SYSTEM'
             ,GETDATE()
        FROM tb_users u
        WHERE u.use_yn = 'Y'
        AND NOT EXISTS (
                SELECT 1
                FROM tb_menu_auth a
                WHERE a.user_id = u.user_id
                  AND a.menu_id = #{menuId}
        )
    </insert>

    <select id="getGrpMenuList">
        SELECT    menu_id
                 ,menu_name as grp_menu_name
                 ,sort_order
            FROM tb_menu_mst
            WHERE menu_level = 2
              AND use_yn = 'Y'
            ORDER BY menu_id, sort_order
    </select>

    <select id="getMenuAuthList">
        SELECT    c.menu_id               AS grpMenuId
        ,c.menu_name             AS grpMenuName
        ,b.menu_id               AS menuId
        ,b.menu_name             AS menuName
        ,ISNULL(a.read_yn, 'N')  AS readYn
        ,ISNULL(a.write_yn, 'N') AS writeYn
        FROM tb_menu_mst b
        JOIN tb_menu_mst c
        ON b.parent_id = c.menu_id
        JOIN tb_menu_mst p
        ON c.parent_id = p.menu_id
        LEFT JOIN tb_menu_auth a
        ON a.menu_id = b.menu_id
        AND a.user_id = #{userId}
        WHERE b.menu_level = 3
        AND b.use_yn = 'Y'
        AND c.menu_level = 2
        AND c.use_yn = 'Y'
        AND p.menu_level = 1
        AND p.use_yn = 'Y'
        ORDER BY p.sort_order ,c.sort_order ,b.sort_order ,b.menu_id
    </select>

    <select id="getUserMenuAuthList">
        SELECT   c.menu_id                  AS grpMenuId
                ,c.menu_name                AS grpMenuName
                ,b.menu_id                  AS menuId
                ,b.menu_name                AS menuName
                ,ISNULL(a.read_yn, 'N')     AS readYn
                ,ISNULL(a.write_yn, 'N')    AS writeYn
        FROM tb_menu_mst b
            JOIN tb_menu_mst c
            ON b.parent_id = c.menu_id
            JOIN tb_menu_mst p
            ON c.parent_id = p.menu_id
            LEFT JOIN tb_menu_auth a
            ON a.menu_id = b.menu_id
            AND a.user_id = #{userId}
        WHERE b.menu_level = 3
        AND b.use_yn = 'Y'
        AND c.menu_level = 2
        AND c.use_yn = 'Y'
        AND p.menu_level = 1
        AND p.use_yn = 'Y'
        <if test="grpMenuId != null and grpMenuId != ''">
            AND c.menu_id = #{grpMenuId}
        </if>
        ORDER BY p.sort_order ,c.sort_order ,b.sort_order ,b.menu_id
    </select>

    <update id="updateMenuAuth">
        <foreach collection="menuList" item="item" separator=";">
            UPDATE tb_menu_auth
            SET      read_yn = #{item.readYn}
                    ,write_yn = #{item.writeYn}
                    ,upd_id = 'SYSTEM'
                    ,upd_dt = GETDATE()
            WHERE  user_id = #{userId}
            AND    menu_id = #{item.menuId}
        </foreach>
    </update>


    <update id="copyMenuAuthInfo">
        UPDATE T
        SET    T.read_yn  = S.read_yn
              ,T.write_yn = S.write_yn
              ,T.upd_id   = 'SYSTEM'
              ,T.upd_dt   = GETDATE()
        FROM tb_menu_auth T
            JOIN tb_menu_auth S
            ON T.menu_id = S.menu_id
        WHERE T.user_id = #{tarUserId}
          AND S.user_id = #{srcUserId}
    </update>

</mapper>